body {
  background-color: rgb(0, 153, 46);
}

h1 a {
  font-weight: bold;
}
.navOp {
  color: white;
  font-size:large;
  font-weight: bold;
}

.navOp:hover {
  color: gold
}

.navActive {
  color: gold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}

footer a {
  text-decoration: none;
  padding: 0px 10px 0 10px;
}

.fa{
  font-size: 40px;
  color: white;
}

.fa:hover {
  color: rgb(100, 113, 153);
}

.About p {
  font-size: 20px
}

.project {
  width: 48.5%;
}

.project-info {
  display: none;
  color: rgb(150, 148, 148);
}

.project:hover {
  filter: opacity(60%);
}

.project:hover .project-info{
  display: block;
}

.project-link, .project-github i{
  text-decoration: none;
  color: rgb(107, 106, 106);
  font-weight: bolder;
}

.project-link:hover, .project-github i:hover {
  color:rgb(251, 255, 0)
}

.contact-form div {
  font-size: 20px;
}

.submit-btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  background-color: green;
  color: white;
}

.submit-btn:hover {
  background-color: darkgreen;
}

@media screen and (max-width: 1233px) {
  .project {
    width: 48%
  }
}

@media screen and (max-width: 967px) {
  .portfolio h2 {
    text-align: center;
  }
  .project {
    width: 100%
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .navOp {
    text-align: center;
  }
  .About h2{
    text-align: center;
  }

  .About img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.resume-link, .front-end ul li, .back-end ul li {
  font-size: 18px;
}

.resume-download {
  font-weight: bold;
  text-decoration: none;
  color: gray
}

.resume-download:hover {
  color: darkgray;
}

@media screen and (max-width: 576px) {
  .navOp {
    padding: 5px;
  }

  .About p {
    font-size: 14px;
  }
}