h1 a {
  font-weight: bold;
}
.navOp {
  color: white;
  font-size:large;
  font-weight: bold;
}

.navOp:hover {
  color: gold
}

.navActive {
  color: gold;
}


footer a {
  text-decoration: none;
  padding: 0px 10px 0 10px;
}

.fa{
  font-size: 40px;
  color: white;
}

.fa:hover {
  color: darkblue;
}


@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .navOp {
    padding: 5px;
  }
}