h1 a {
  font-weight: bold;
}
.navOp {
  color: white;
  font-size:large;
  font-weight: bold;
}

.navOp:hover {
  color: gold
}


@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .navOp {
    padding: 5px;
  }
}